---
import Layout from '../../layouts/Layout.astro';
import Producto from '../../components/Producto.astro';
import DescargaPdf from '../../components/DescargaPdf.astro';

import ButtonLink from '../../components/ButtonLink.astro';
---

<Layout>
	<main>
		<DescargaPdf></DescargaPdf>
		<Producto src='/ctlgo_1.png' title='VASOS POLIPAPEL' subtitle='PARA BEBIDAS CALIENTES' body='El polipapel es un material impermeable a sustancias liquidas. A atraves de un tratamiento con laminas de papel y polietileno.'></Producto>

    <Producto src='/ctlgo_2.png' title='VASOS POLIPAPEL' subtitle='PARA BEBIDAS FRIAS' body='El polipapel es un material impermeable a sustancias liquidas. A atraves de un tratamiento con laminas de papel y polietileno.'></Producto>

    <Producto src='/ctlgo_3.png' title='VASOS PP Y SS' subtitle='DESCARTABLES' body='Los vasos descartables de PP y SS son una opcion practica y economica. Este material es conocido por su urabilidad y resistencia lo que hace ideal para bebidas frias y calientes. Ademas es ligero y recicable, lo que cotribuye a reducir el impacto ambiental.'></Producto>

    <Producto src='/ctlgo_4.png' title='CUBIERTOS' subtitle='DESCARTABLES' body='Las cucharas y tenedores pp son una opción práctica y versátil para diversas ocasiones. Desechables, lo que garantiza un uso higiénico y seguro. estos utensilios son perfectos para cualquier ocasión. desde picnics y fiestas hasta servicios de comida rápida y catering. Su resistencia y variedad de tamaños aseguran que siempre tendrás el utensilio adecuado para cada necesidad.'></Producto>

    <Producto src='/ctlgo_5.png' title='BANDEJAS Y SALCHIPAPERAS' subtitle='DESCARTABLES' body='los platos pp y ps son una solución práctica y versátil. aptos para alimentos calientes y fríos sin deformarse. económicos y accesibles para grandes eventos. estos platos son perfectos para cualquier ocasión. desde picnics y fiestas hasta servicios de catering y restaurantes de comida rápida.'></Producto>

    <Producto src='/ctlgo_6.png' title='PLATOS PLANOS' subtitle='DESCARTABLES' body='los platos pp y ps son una solución práctica y versátil. aptos para alimentos calientes y fríos sin deformarse. económicos y accesibles para grandes eventos. estos platos son perfectos para cualquier ocasión. desde picnics y fiestas hasta servicios de catering y restaurantes de comida rápida.'></Producto>

    <Producto src='/ctlgo_7.png' title='PLATOS HONDOS' subtitle='DESCARTABLES' body='los platos pp y ps son una solución práctica y versátil. aptos para alimentos calientes y fríos sin deformarse. económicos y accesibles para grandes eventos. estos platos son perfectos para cualquier ocasión. desde picnics y fiestas hasta servicios de catering y restaurantes de comida rápida.'></Producto>

    <Producto src='/ctlgo_8.png' title='ENVASES CIRCULARES' subtitle='DESCARTABLES' body='los envases circulares pp y ps son aptos para alimentos calientes y fríos sin deformarse. ofrecen una estructura más rígida, ideal para alimentos pesados. disponibles en diferentes tamaños, estos envases ofrecen una solución conveniente y económica para el servicio de alimentos.'></Producto>

    <Producto src='/ctlgo_9.png' title='ENVASES AJICEROS Y SALSEROS' subtitle='DESCARTABLES' body='Envases perfecos para salsas ajies, cremas, etc. Ayuda a preservar el sabor en tus comidas.'></Producto>

    <Producto src='/ctlgo_10.png' title='ENVASES RECTANGULARES' subtitle='DESCARTABLES' body='brinda toda la protección e higiene que su producto necesita para ser exhibido. estos envases son ideales para restaurantes, servicios de catering y cualquier negocio de comida que ofrezca. su resistencia y diseño práctico asegurarán que los alimentos lleguen a su destino en perfectas condiciones.'></Producto>

    <Producto src='/ctlgo_11.png' title='CONTENEDOR, CAJAS O ENVASES BISAGRA' subtitle='DESCARTABLES' body='los contenedores de transporte confiable con la cantidad de contenido que exigen tus clientes. puede usarlo en microondas y fácil de apertura. contenedores 100% reciclables.'></Producto>

    <Producto src='/ctlgo_12.png' title='DOMOS Y BASES' subtitle='LINEA PASTELERA' body='Diseñado para ofrecer excelente visibilidad del producto. Desde cualquier ángulo. Mejorando su presentación. Tortas y postres mejores protegidos.'></Producto>

    <Producto src='/ctlgo_13.png' title='BOTELLAS PET' subtitle='DESCARTABLES' body='las botellas PET son extremadamente resistentes a impactos y roturas, lo que las hace ideales para el transporte y almacenamiento de bebidas. esta durabilidad permite que las botellas sean reutilizables en multiples ocasiones antes de ser recicladas.'></Producto>

    

    <Producto src='/ctlgo_15.png' title='BOLSAS PARA DESECHOS' subtitle='DESCARTABLES' body='es un contenedor flexible y resistente. generalmente bolsas plásticas. diseñado para contener y transportar residuos y desechos de manera segura y eficiente.'></Producto>

    <Producto src='/ctlgo_14.png' title='BOLSAS PLASTICAS' subtitle='LINEA ROLLO DESGLOSABLE' body=''></Producto>
		
		

	</main>
</Layout>