---
import Layout from '../../layouts/Layout.astro';
import Producto from '../../components/Producto.astro';
import DescargaPdf from '../../components/DescargaPdf.astro';
---

<Layout>
	<main>
		<DescargaPdf></DescargaPdf>
		<div id="vasos_polipapel_para_bebidas_calientes">
      <Producto src='/vasos_polipapel_para_bebidas_calientes.png' alt='VASOS POLIPAPEL PARA BEBIDAS CALIENTES' title='VASOS POLIPAPEL' subtitle='PARA BEBIDAS CALIENTES' body='El polipapel es un material impermeable a sustancias liquidas. A atraves de un tratamiento con laminas de papel y polietileno.' text='Hola, quisiera más información sobre Vasos Polipapel Para Bebidas Calientes.' ></Producto>
    </div>

    <div id="vasos_polipapel_para_bebidas_frias">
      <Producto src='/vasos_polipapel_para_bebidas_frias.png' alt='VASOS POLIPAPEL PARA BEBIDAS FRIAS' title='VASOS POLIPAPEL' subtitle='PARA BEBIDAS FRIAS' body='El polipapel es un material impermeable a sustancias liquidas. A atraves de un tratamiento con laminas de papel y polietileno.' text='Hola, quisiera más información sobre Vasos Polipapel Para Bebidas frias.'></Producto>
    </div>

    <div id="vasos_pp_y_ss_descartables">
      <Producto src='/vasos_pp_y_ss_descartables.png' alt='VASOS PP Y SS DESCARTABLES' title='VASOS PP Y SS' subtitle='DESCARTABLES' body='Los vasos descartables de PP y SS son una opcion practica y economica. Este material es conocido por su urabilidad y resistencia lo que hace ideal para bebidas frias y calientes. Ademas es ligero y recicable, lo que cotribuye a reducir el impacto ambiental.' text='Hola, quisiera más información sobre Vasos PP y SS Descartables'></Producto>
    </div>

    <div id="cubiertos_descartables">
      <Producto src='/cubiertos_descartables.png' alt='CUBIERTOS DESCARTABLES' title='CUBIERTOS' subtitle='DESCARTABLES' body='Las cucharas y tenedores pp son una opción práctica y versátil para diversas ocasiones. Desechables, lo que garantiza un uso higiénico y seguro. estos utensilios son perfectos para cualquier ocasión. desde picnics y fiestas hasta servicios de comida rápida y catering. Su resistencia y variedad de tamaños aseguran que siempre tendrás el utensilio adecuado para cada necesidad.' text='Hola, quisiera más información sobre Cubiertos Descartables'></Producto>
    </div>

    <div id="bandejas_y_salchipaperas_descartables">
      <Producto src='/bandejas_y_salchipaperas_descartables.png' alt='BANDEJAS Y SALCHIPAPERAS DESCARTABLES' title='BANDEJAS Y SALCHIPAPERAS' subtitle='DESCARTABLES' body='los platos pp y ps son una solución práctica y versátil. aptos para alimentos calientes y fríos sin deformarse. económicos y accesibles para grandes eventos. estos platos son perfectos para cualquier ocasión. desde picnics y fiestas hasta servicios de catering y restaurantes de comida rápida.' text='Hola, quisiera más información sobre Bandejas y Salchipaperas Descartables'></Producto>
    </div>

    <div id="platos_planos_descartables">
      <Producto src='/platos_planos_descartables.png' alt='PLATOS PLANOS DESCARTABLES' title='PLATOS PLANOS' subtitle='DESCARTABLES' body='los platos pp y ps son una solución práctica y versátil. aptos para alimentos calientes y fríos sin deformarse. económicos y accesibles para grandes eventos. estos platos son perfectos para cualquier ocasión. desde picnics y fiestas hasta servicios de catering y restaurantes de comida rápida.' text='Hola, quisiera más información sobre Platos Planos Descartables'></Producto>
    </div>

    <div id="platos_hondos_descartables">
      <Producto src='/platos_hondos_descartables.png' alt='PLATOS HONDOS DESCARTABLES' title='PLATOS HONDOS' subtitle='DESCARTABLES' body='los platos pp y ps son una solución práctica y versátil. aptos para alimentos calientes y fríos sin deformarse. económicos y accesibles para grandes eventos. estos platos son perfectos para cualquier ocasión. desde picnics y fiestas hasta servicios de catering y restaurantes de comida rápida.' text='Hola, quisiera más información sobre Platos Hondos Descartables'></Producto>
    </div>

    <div id="envases_circulares_descartables">
      <Producto src='/envases_circulares_descartables.png' alt='ENVASES CIRCULARES DESCARTABLES' title='ENVASES CIRCULARES' subtitle='DESCARTABLES' body='los envases circulares pp y ps son aptos para alimentos calientes y fríos sin deformarse. ofrecen una estructura más rígida, ideal para alimentos pesados. disponibles en diferentes tamaños, estos envases ofrecen una solución conveniente y económica para el servicio de alimentos.' text='Hola, quisiera más información sobre Envases Circulares Descartables'></Producto>
    </div>

    <div id="envases_ajiceros_y_salseros_descartables">
      <Producto src='/envases_ajiceros_y_salseros_descartables.png' alt='ENVASES AJICEROS Y SALSEROS DESCARTABLES' title='ENVASES AJICEROS Y SALSEROS' subtitle='DESCARTABLES' body='Envases perfecos para salsas ajies, cremas, etc. Ayuda a preservar el sabor en tus comidas.' text='Hola, quisiera más información sobre Envases Ajiceros y Salseros Descartables'></Producto>
    </div>

    <div id="envases_rectangulares_hondos_descartables">
      <Producto src='/envases_rectangulares_hondos_descartables.png' alt='ENVASES RECTANGULARES HONDOS DESCARTABLES' title='ENVASES RECTANGULARES' subtitle='DESCARTABLES' body='brinda toda la protección e higiene que su producto necesita para ser exhibido. estos envases son ideales para restaurantes, servicios de catering y cualquier negocio de comida que ofrezca. su resistencia y diseño práctico asegurarán que los alimentos lleguen a su destino en perfectas condiciones.' text='Hola, quisiera más información sobre Envases Rectangulares Descartables'></Producto>
    </div>

    <div id="contenedor_cajas_envases_bisagra_descartables">
      <Producto src='/contenedor_cajas_envases_bisagra_descartables.png' alt='CONTENEDOR, CAJAS O ENVASES BISAGRA DESCARTABLES' title='CONTENEDOR, CAJAS O ENVASES BISAGRA' subtitle='DESCARTABLES' body='los contenedores de transporte confiable con la cantidad de contenido que exigen tus clientes. puede usarlo en microondas y fácil de apertura. contenedores 100% reciclables.' text='Hola, quisiera más información sobre Contenedor, Cajas o Envases Bisagra Descartables'></Producto>
    </div>

    <div id="domos_y_bases_linea_papelera">
      <Producto src='/domos_y_bases_linea_papelera.png' alt='DOMOS Y BASES LINEA PASTELERA' title='DOMOS Y BASES' subtitle='LINEA PASTELERA' body='Diseñado para ofrecer excelente visibilidad del producto. Desde cualquier ángulo. Mejorando su presentación. Tortas y postres mejores protegidos.' text='Hola, quisiera más información sobre Domos y Bases de Linea Pastelera'></Producto>
    </div>

    <div id="botellas_pet_descartables">
      <Producto src='/botellas_pet_descartables.png' alt='BOTELLAS PET DESCARTABLES' title='BOTELLAS PET' subtitle='DESCARTABLES' body='las botellas PET son extremadamente resistentes a impactos y roturas, lo que las hace ideales para el transporte y almacenamiento de bebidas. esta durabilidad permite que las botellas sean reutilizables en multiples ocasiones antes de ser recicladas.' text='Hola, quisiera más información sobre Botellas Pet Descartables'></Producto>
    </div>

    <div id="bolsas_para_desechos_descartables">
      <Producto src='/bolsas_para_desechos_descartables.png' alt='BOLSAS PARA DESECHOS DESCARTABLES' title='BOLSAS PARA DESECHOS' subtitle='DESCARTABLES' body='es un contenedor flexible y resistente. generalmente bolsas plásticas. diseñado para contener y transportar residuos y desechos de manera segura y eficiente.' text='Hola, quisiera más información sobre Bolsas Para Desechos Descartables'></Producto>
    </div>

    <Producto src='/bolsas_plasticas_linea_rollo_desglosable.png' alt='BOLSAS PLASTICAS LINEA ROLLO DESGLOSABLE' title='BOLSAS PLASTICAS' subtitle='LINEA ROLLO DESGLOSABLE' body='' text='Hola, quisiera más información sobre Bolsas Plasticas de Linea Rollo Desglosable'></Producto>
		
		

	</main>
</Layout>