---
import Layout from '../layouts/Layout.astro';
import Banner from "../components/Banner.astro"
import Seccion from "../components/Seccion.astro"
import Sliderboton from "../components/Sliderboton.astro";
import Marcas from "../components/Marcas.astro";
import ButtonLink from '../components/ButtonLink.astro';
---

<Layout>
	<main>
		<Banner src='/banner1_catalogo.png'></Banner>
		<Sliderboton></Sliderboton>
		<Banner src='/segmento_marcas.png'></Banner>
		
		<Marcas></Marcas>
		

	</main>
</Layout>
