---
import Layout from '../layouts/Layout.astro';
import Banner from "../components/Banner.astro"
import Seccion from "../components/Seccion.astro"
import ButtonLink from '../components/ButtonLink.astro';
---

<Layout>
	<main>
		<Banner></Banner>
		<Seccion></Seccion>
		<!-- <ButtonLink></ButtonLink> -->

	</main>
</Layout>
