---
interface Props {
  src:string;
}
const {src} = Astro.props;
---

<div class="relative w-full overflow-hidden">
  <!-- Imagen del Banner -->
  <img
    src={src}
    alt="Banner promocional"
    class="w-full  object-cover"
  />

  
</div>
