---
import Navbar from "./Navbar.astro"
import Descargaarchivo from "./Descargaarchivo.astro"
---

<header class="bg-teal-500 text-white">
  <!-- Top Bar -->
  <div class="bg-yellow-400 text-white text-center text-lg font-bold py-2">
    <p>Envíos gratuitos para pedidos de S/150.00 o más.</p>
  </div>

  <!-- Main Header -->
  <div class="flex justify-between items-center px-4 py-3 md:px-8">
    <!-- Logo -->
    <div class="flex items-center">
      <a href="/">

        <img src="/logo_tn.png" alt="logo" class="w-20">
      </a>
      
    </div>

    <!-- Hamburger Menu for Small Screens -->
    <div class="md:hidden">
      <button id="menu-btn" class="text-2xl focus:outline-none">
        <i class="fas fa-bars"></i>
      </button>
    </div>

    <Descargaarchivo menu_hamburguesa="hidden"  href="/catalogo.pdf" textdownload="Catalogo-Productos.pdf" text="DESCARGAR CATÁLOGO" bgcolor="yellow-400"></Descargaarchivo>

  </div>

  <Navbar></Navbar>
</header>

<script>
  // Script para mostrar/ocultar el menú en pantallas pequeñas
  const menuBtn = document.getElementById('menu-btn');
  const menu = document.getElementById('menu');

  menuBtn.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  });
</script>
