---
interface Props {
  title_text:string;
  size_text:string;
  mdsize_text:string;
  color_text:string;
}

const {title_text,size_text,mdsize_text,color_text} = Astro.props;
---

<h1 class=`${size_text} ${mdsize_text} font-bold ${color_text}`>
  {title_text}
</h1>