---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"


---

<!doctype html>
<html lang="es">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<!-- fontawesome -->
		<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		rel="stylesheet"
	/>
	
	</head>

	<body>
		<Header></Header>
		<slot />
		<Footer></Footer>
	</body>

</html>

<style>
	*{
    box-sizing: border-box;
		margin:0;
		padding:0;
  }
	html {
		overflow-x: hidden;
		width: 100%;
}
body {
  @apply bg-white text-gray-900 antialiased;
}
</style>
