---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"


---

<!doctype html>
<html lang="es">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- titulo -->
		<title>TM | Envases Plasticos</title>
		<!-- descripcion -->
		<meta name="description" content="Descubre nuestra amplia variedad de envases de plastico. Ofrecemos envases de calidad por mayor.">
		<!-- palabras clave -->
		<meta name="keywords" content="envases de pl치stico, envases por mayor, envases de calidad, empaques pl치sticos, soluciones de embalaje" />
		<meta name="author" content="coder and maker society">
		<!-- Para permitir la indexaci칩n -->
		<meta name="robots" content="index, follow" />
		<!-- Open Graph -->
	<meta property="og:title" content="TM | Envases Pl치sticos" />
	<meta property="og:description" content="Descubre nuestra amplia variedad de envases de plastico. Ofrecemos envases de calidad por mayor." />
	<meta property="og:image" content="/banner1_catalogo.png" />
	<meta property="og:url" content="https://tm-distribuidora.vercel.app" />
	<meta property="og:type" content="website" />
	<!-- Canonical -->
	<link rel="canonical" href="https://tm-distribuidora.vercel.app" />
		<!-- fontawesome -->
		<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		rel="stylesheet"
	/>
	<!-- google -->
	<meta name="google-site-verification" content="geDcO1AwGcBdNMqImjkkhYZN6UhiNxi5OwJSacr0uh0" />
	</head>

	<body>
		<Header></Header>
		<slot />
		<Footer></Footer>
	</body>

</html>

<style>
	*{
    box-sizing: border-box;
		margin:0;
		padding:0;
  }
	html {
		overflow-x: hidden;
		width: 100%;
}
body {
  @apply bg-white text-gray-900 antialiased;
}
</style>
